$text-color: white;
$bg-color: #FFEAFF;
$bg-color2: #308EB4;

window.Bar {
    background: transparent;
    font-size: 15px;
    font-family: "Gentium Plus";
    color: $text-color;

    centerbox {
        background: $bg-color;
        margin: 0 100px;
        border-radius: 4px;

        box {
            margin: 0 5px;
        }

        .Workspaces {
            button {
                border: inherit;
                min-width: 40px;
                padding: 0 2px;
                margin: 2px 1px;
                background: $bg-color2;
                border-radius: 0;
                color: $text-color;
            }

            button.empty {
                background: #02394A;
            }

            button.active {
                background: $bg-color2;
            }

            button:hover {
                background: #1a1a1a;
                border: #1a1a1a;
                padding: 0 3px;
            }

            button.urgent {
                background: red;
            }

            .focused {
                background: #1F75FE;
            }

        }

        .Focused {
            background: #1F75FE;
            min-width: 50px;
            padding: 0 10px;
        }

        .Audio {
            color: #268bd2;

            button {
                color: #268bd2;
                font-weight: normal;
                background-color: $bg-color;
                padding: 0;
            }
        }

        .Battery {
            color: #859900;
        }

        .SysTray {
            background: $bg-color;

            button {
                background: $bg-color2;
                border-radius: 0;
                padding: 0 2px;
            }
        }

        .Network {
            background: $bg-color2;
            padding: 0 5px;
        }

        .Language {
            min-width: 50px;
            background: $bg-color2;
            color: $text-color;

            label {
                margin-left: 15px;
                /* TODO: Make align center*/
            }
        }

        .Time {
            background: $bg-color2;
        }
    }
}
